*.vo
*.glob
*.aux
.depend
*.cache
*.annot
extraction
ocaml/.depend
*.cmi
*.cmx
*.cmo
*.cma
*.cmxa
*.o
ocaml/test
doc/html/
VPL/ocaml/src/lin/poly/PolyLexer.ml
VPL/ocaml/src/lin/poly/PolyParser.ml
VPL/ocaml/src/lin/poly/PolyParser.mli
VPL/ocaml/src/plp/PLPLexer.ml
VPL/ocaml/src/plp/PLPParser.ml
VPL/ocaml/src/plp/PLPParser.mli
